<!DOCTYPE html>
<html lang=en>
<meta charset=utf-8>
<meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name=viewport>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Useful Hingston Related Websites</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98179560-2"></script>
<script>window.dataLayer = window.dataLayer || [];

function gtag() {
    dataLayer.push(arguments);
}

gtag('js', new Date());
gtag('config', 'UA-98179560-2');</script>
<div class=container><br/> <br/>
    <div class="jumbotron text-center"><h1>Useful Hingston Related Websites</h1> <br/>
        <div class=row>
            <div class=col-lg-6><h2>Hingston One Name Study</h2>
                <p><a href=http://www-civ.eng.cam.ac.uk/cjb/hingston/hingston.htm>Hingston One Name Study</a></div>
            <div class=col-lg-6><h2>Hingstons on Wikipedia</h2>
                <p><a href=https://en.wikipedia.org/wiki/Hingston>Hingstons on Wikipedia</a></div>
        </div>
        <footer class=footer><p>© Hingston.org 2019</footer>
    </div>
</div>
